SUPABASE_URL=https://vobqsranvzsabpjwjris.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_IakDHuIR9x6zluZakLKc1A_MzqGYAHs
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvYnFzcmFudnpzYWJwandqcmlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2NTk3NTMsImV4cCI6MjA5NzIzNTc1M30.hM_38s3Fp_I1NcIREepczs_ROfbQgP0ehOInQy_G54Y
NEXT_PUBLIC_API_URL=http://localhost:3001
